ul.list-group
  li.list-group-item(ng-repeat='ticket in closeTickets', ng-cloak)
    div
      a(ng-href='https://twitter.com/intent/user?user_id={{ticket.openUser.providerId}}')
        | {{ticket.openUser.displayName}}
      small(style='margin-left: 0.5em; margin-right: 0.5em;') さんのネタを
      a(ng-href='https://twitter.com/intent/user?user_id={{ticket.progressUser.providerId}}')
        | {{ticket.progressUser.displayName}}
      small(style='margin-left: 0.5em;') さんが実現しました
    h2.col-xs-12
      a(ng-href='{{ticket.url}}') {{ticket.title}}
      small(style='margin-left: 0.5em;') を作ったよ！
    p.text-right
      small {{ticket.createdAt | dateToDisplay}}
