.animate34px {
  transition: all linear 0.125s;
  overflow: hidden;
  height: 34px;
}
.animate64px {
  transition: all linear 0.125s;
  overflow: hidden;
  height: 64px;
}
.animate150px {
  transition: all linear 0.125s;
  overflow: hidden;
  height: 150px;
}
.animate188px {
  transition: all linear 0.125s;
  overflow: hidden;
  height: 188px;
}

.animate34px.ng-hide, .animate64px.ng-hide, .animate150px.ng-hide, .animate188px.ng-hide {
  height: 0;
  margin: 0;
  padding: 0;
}