ul.list-group
  li.list-group-item
    div <a href='#'>@progremaster</a> さんのネタを <a href='#'>@progremaster</a> さんが作っています
    h2.col-xs-12 最高に面白いゲーム <small>を作るよ！</small>
    p.text-right
      small 2014年10月11日 18:31
    .text-right
      button.btn.btn-default(style='margin-left: 1em;', ng-class='{active: isOpenDropout}', ng-show='user != null', ng-click='isOpenDropout = !isOpenDropout; isOpenCreated = false;') 無理でした
      button.btn.btn-primary(style='margin-left: 1em;', ng-class='{active: isOpenCreated}', ng-show='user != null', ng-click='isOpenCreated = !isOpenCreated; isOpenDropout = false;') できたよ！
      //- button.btn.btn-primary(style='margin-left: 1em;') はよ！
      //- .badge 100
    .panel.panel-default.anim.anim64px(style='margin-top: 1em;', ng-show='isOpenDropout')
      .panel-body
        .text-right
          button.btn.btn-default(ng-click='isOpenDropout = false') 閉じる
          button.btn.btn-primary(style='margin-left: 1em;') 投稿されたネタに戻す
    .panel.panel-default.anim.anim150px(style='margin-top: 1em;', ng-show='isOpenCreated')
      .panel-body
        form(role='form', ng-submit='')
          .form-group
            | {{user.displayName}} 「最高に面白いゲーム を作ったよ！」
          .form-group
            input.form-control(type='text', placeholder='http://…')
          .text-right
            ul.list-inline
              li.checkbox(style='margin-left: 1em; margin-top: 0;')
                label
                  input(type='checkbox')
                  | ツイートする
              li(style='padding-right: 0;')
                button.btn.btn-default(ng-click='isOpenCreated = false') 閉じる
                input.btn.btn-primary(style='margin-left: 1em;', type='submit', value='完了')
